.pic{

    overflow: hidden;
    background-image:url("png/denizlispor2");
    background-size:200px 200px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.pic{
   
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}

.pic.hover{
    opacity:0;
}

#hakkindaBody{
    background-color: black;
}
#sehrimBody{
    background-color: black;
}
#slider{
    max-width: 800px;
    position: relative;
    margin: auto;
}
.figure-caption{
    color: white;
}
.icerik{
    color: white;
}
#bodyy{
    background-color: rgb(0, 0, 0) !important ;
}
.logo2{
    height: 30px;
}
.logo{
    height: 55px;
}
.yazilar{
    font-size: 15pt;
    padding-right: 60px;
}
div.sinir{
    padding-top: 25px;
    color: white;
  

}

div.resim-bir{
    position:absolute;
}
#degisenresim {
    height: 100%;
    width: 100%;
    background-image: url("png/denizlispor.png");
}
#degisenresim:hover {
    background-image: url("png/denizlispor2.png");
}
#imgOrtaokul{
    padding: 25px;
}
#imgLise{
    padding: 25px;
}

#iletisimBody
{
        margin: 0 auto;
        background:pink;
}


#form{

    text-align: center;

    margin: 0 auto;
    max-width:960px;
    background:#47D1FF;
}

.sporTable{
    font-size: 14pt;
    padding-bottom: 100px;
    color: white;
    
 }
.DSIcerik{
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 25px;
    color: white;
}
#denizlisporBody{
    background-color: black;
}
